.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #28a745;
}

.autocomplete-group {
    color: #F0F0F0;
    font-weight: bold;
    background: #28a745;
    text-transform: uppercase;
    line-height: 2em;
    padding-left: 16px;
    padding-right: 16px;
    margin: 10px 0;
    display: inline-block;
    font-size: 18px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}